<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.goorm.youtube.mapper.MemberMapper">


    <!-- SELECT -->
    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM member
    </select>

    <!-- SELECT -->
    <select id="selectAll" parameterType="io.goorm.youtube.vo.DefaultVO" resultType="io.goorm.youtube.vo.domain.Member">
        SELECT a.*, IFNULL(count(b.video_seq),0) as videoCnt
        FROM member a LEFT JOIN video b ON
        a.member_seq = b.member_seq
        ORDER BY a.member_seq desc
        LIMIT #{defaultVO.pageSize} OFFSET #{defaultVO.offset}
    </select>

    <select id="selectById" parameterType="long" resultType="io.goorm.youtube.vo.domain.Member">
        SELECT * FROM member WHERE member_seq = #{memberSeq}
    </select>

    <select id="selectByMemberId" parameterType="String"  resultType="io.goorm.youtube.vo.domain.Member">
        SELECT * FROM member WHERE member_id = #{memberId}
    </select>

    <select id="existsById" resultType="boolean">
        SELECT EXISTS (
        SELECT 1 FROM member WHERE member_id = #{memberId}
        )
    </select>

    <!-- INSERT -->
    <insert id="insert" parameterType="io.goorm.youtube.vo.domain.Member">
        INSERT INTO member (member_id, member_pw, member_nick)
        VALUES (#{member.memberId}, #{member.memberPw}, #{member.memberNick})
    </insert>

    <!-- UPDATE -->
    <update id="update" parameterType="io.goorm.youtube.vo.domain.Member">
        UPDATE member
        SET member_nick = #{member.memberNick}, member_id = #{member.memberId} , member_pw = #{member.memberPw}
        WHERE member_seq = #{member.memberSeq}
    </update>

    <!-- UPDATE -->
    <update id="updateUseYn" parameterType="io.goorm.youtube.vo.domain.Member">
        UPDATE member
        SET use_yn = #{member.useYn}
        WHERE member_seq = #{admin.memberSeq}
    </update>

    <!-- DELETE -->
    <delete id="delete" parameterType="long">
        DELETE FROM member WHERE member_seq = #{memberSeq}
    </delete>

</mapper>