<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.goorm.youtube.mapper.VideoMapper">

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM video a, member b
        WHERE a.member_seq = b.member_seq
    </select>

    <!-- SELECT -->
    <select id="selectIndex" parameterType="io.goorm.youtube.vo.DefaultVO" resultType="io.goorm.youtube.vo.domain.Video">
        SELECT a.*, b.member_nick as channelName
        FROM video a, member b
        WHERE a.member_seq = b.member_seq AND
        publish_yn = 1 AND delete_yn = 'N'
        <if test="defaultVO.searchKeyword != null and defaultVO.searchKeyword != ''  ">
            AND a.title like CONCAT('%',#{defaultVO.searchKeyword},'%')
        </if>
        ORDER BY video_seq desc
    </select>

    <!-- SELECT -->
    <select id="selectAll" parameterType="io.goorm.youtube.vo.DefaultVO" resultType="io.goorm.youtube.vo.domain.Video">
        SELECT a.*, b.member_nick as channelName
        FROM video a, member b
        WHERE a.member_seq = b.member_seq
        ORDER BY video_seq desc
        LIMIT #{defaultVO.pageSize} OFFSET #{defaultVO.offset}
    </select>

    <select id="selectById" parameterType="long" resultType="io.goorm.youtube.vo.domain.Video">
        SELECT * FROM video WHERE video_seq = #{videoSeq}
    </select>

    <!-- INSERT -->
    <insert id="insert" parameterType="io.goorm.youtube.vo.domain.Video">
        INSERT INTO video (video,  video_thumnail,title,content, member_seq)
        VALUES (#{video.video}, #{video.videoThumnail}, #{video.title}, #{video.content}, #{video.memberSeq})
    </insert>

    <!-- UPDATE -->
    <update id="update" parameterType="io.goorm.youtube.vo.domain.Video">
        UPDATE video
        SET video = #{video.video}, video_thumnail = #{video.videoThumnail}, title = #{video.title}, content = #{video.content}
        WHERE video_seq = #{video.videoSeq}
    </update>

    <!-- UPDATE -->
    <update id="updatePublishYn" parameterType="io.goorm.youtube.vo.domain.Video">
        UPDATE video
        SET publish_yn = #{video.publishYn}
        WHERE video_seq = #{video.videoSeq}
    </update>

    <!-- UPDATE -->
    <update id="updateDeleteYn" parameterType="io.goorm.youtube.vo.domain.Video">
        UPDATE video
        SET delete_yn = #{video.deleteYn}
        WHERE video_seq = #{video.videoSeq}
    </update>

    <!-- DELETE -->
    <delete id="delete" parameterType="long">
        DELETE FROM videoS WHERE video_seq = #{video.videoSeq}
    </delete>

</mapper>